<!DOCTYPE html>

<p>Enter a new word:</p>
  <form action="/words" method="post">
    <div class="form-group">
      <label for="term">Term</label>
      <input id="term" name="term" type="text">
    </div>

    <button type="submit" class="btn btn-default">Add Word</button>
  </form>
